<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Edit product</h2>
<form action="/edit-product" method="post">
    <input type="hidden" name="id" value="{id}">
    <input type="text" name="name" value="{name}">
    <input type="text" name="price" value="{price}">
    <input type="text" name="quantity" value="{quantity}">
    <input type="text" name="image" value="{image}">
    <select></select>
    <button>Save</button>
</form>
</body>
</html>
